.checkbox {
    display: grid;
    text-decoration-line: 70px;
/* background-color: red; */

	padding-top: 1000;

	margin: 50px;

	/* display: none; */
	cursor: pointer;
margin-bottom: 100px;


	/* display: none;*/
}
