.checkbox {
    display: grid;
    position: relative;
    text-decoration-line: 70px;
/* background-color: red; */

	padding-top: 1000;

	margin: 40px;

	/* display: none; */
	cursor: pointer;
margin-bottom: 200px;


	/* display: none;*/
}
